body {
  margin: 0;
  line-height: normal;
  padding: 0%;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-inter: Inter;

  /* font sizes */
  --font-size-5xs: 8px;
  --font-size-base: 16px;
  --font-size-mid-6: 17.6px;
  --font-size-sm: 14px;
  --font-size-xl-8: 20.8px;

  /* Colors */
  --color-gray-100: #8f8f8f;
  --color-gray-200: #2a2a2a;
  --color-gray-300: #0f0f0f;
  --color-blueviolet: #912df5;
  --color-black: #000;
  --color-white: #fff;
  --color-darkgray: #9a9a9a;
  --color-whitesmoke: #efefef;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-13xl: 32px;
  --gap-9xs: 4px;
  --gap-5xl: 24px;
  --gap-base: 16px;
  --gap-4xs: 9px;

  /* Paddings */
  --padding-xs: 12px;

  /* Border radiuses */
  --br-80xl: 99px;
  --br-5xs: 8px;
  --br-980xl: 999px;
}
